<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Checkerboard</title>
    {% endif %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename ='style.css')}}"
    />
  </head>
  <body>
    <h1>Checkerboard</h1>
    <div class="container">
      <table>
        {% for i in range(x) %}
        <tr>
          {% for j in range(y) %} {% if (i + j)%2 == 0 %}
          <td class="box" style="background-color: {{color1}};"></td>
          {% else %}
          <td class="box" style="background-color: {{color2}};"></td>

          {% endif %} {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
<!-- + (i + j %2 +1) -->
